html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 1.6rem;
    color: #d8e9ef;

    font-family: 'Fira Sans', sans-serif;
    background-image: linear-gradient(-20deg, #733b36 0%, #23232d  100%);
    background-size: cover;

}



.app-container {
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app-card {
  width: 35%;
  height: 90%;
  background-color: white;
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  
}

/* Header */
.app-card header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  
}

.app-card header h1 {
  font-size: 2.4rem;
  
}

/* Main */
.app-card main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  

}

main .app-message {
  height: 20px;
  margin: 10px auto 20px auto;
  font-size: 1.9rem;
}

.app-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  

}


/*Inicia circulo */

.circle-shape {
  pointer-events: none;
}

.semi-circle {
  position: absolute;
  width: 100px;
  height: 200px;
  box-sizing: border-box;
  border: solid 6px;
}

.left-side {
  top: 0;
  left: 0;
  transform-origin: right center;
  transform: rotate(0deg);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-right: none;
  z-index: 1;
}


.right-side { 
  top: 0;
  left: 100px;
  transform-origin: left center;
  transform: rotate(0deg);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: none;
}

.circle {
  border-color: #bf5239;
}

.circle-mask {
  border-color: #e85a71;
}

/* Termina circulo */ 
.app-counter-box {
  display: flex;
  flex-direction: column;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 250%;
  color: #d8e9ef;
  pointer-events:all;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;

}

button {
  font-size: 2.2rem;
  padding: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  background: none;
  outline: none;
  color: #d8e9ef;
  cursor: pointer;
}

button:hover {
  color: #90c0d1;
}

/* Footer */
.app-card footer {
  height: 5%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer small {
  opacity: 0;
  transition: opacity 0.3s ease ;
}

footer small:hover {
  opacity: 1;
}



@media screen and (min-width:375px) and (max-width:767px) and (orientation: portrait) {

  .app-card {
    width: 90%;
    height: 75%;
  }
}